/*-- all buttons --*/ 
.form--buttons {
    font-size: 16px;
    @include for-desktop-up {
        flex-direction: row;
        justify-content: space-around;
        margin-right: 0;
        
    }
    @include for-big-desktop-up {
        font-size: 20px;
        padding-left: 5em;
        padding-right: 5em;
    }
    @include for-x-big-desktop-up {
        padding-left: 6em;
        padding-right: 6em;
    }
}

.form--button {

    @include for-desktop-up {
        margin-left: 1em;
        margin-right: 1em;
    }
    @include for-m-desktop-up {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    @include for-big-desktop-up {
        margin-left: 2em;
        margin-right: 2em;
    }
}

.form--button label {
    font-size: 16px;
    @include for-big-desktop-up {
        font-size: 18px;
    }
}

/*-- toggle buttons --*/ 
.form--buttons-passenger {
    @include for-desktop-up {
        padding-top: 0;
    }
}

/*-- redux-form number updown --*/ 
.form--select-number {
    margin-top: .2em;

    @include for-big-desktop-up {
        margin-top: .28em;
    }
}

.form--select-number--input {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
}

.form--select-updown--input::placeholder {
    padding: 5px 10px;
    color: $grey;
    opacity: 1;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-indent: 10px;
    font-size: 1.2em;
    font-weight: 300;
}

/*-- redux-form dropdown --*/ 
.form--select-dropdown {
    padding: 7px 10px;
    border-radius: 5px;
    margin-top: .4em;
    color: $grey; 
    font-size: 1.3em;
    background-color: $white;

    @include for-tablet-portrait-up {
        font-size: 1.2em;
    }
    @include for-big-desktop-up {
        margin-top: .41em;
        font-size: 1.1em;
    }
}

/*-- submit.reset --*/ 
.submit-reset--btns {
    font-size: 16px;
    @include for-big-desktop-up {
        padding: 0 5.5em;
        font-size: 18px;
    }
}