/*-- Form --*/ 
.container-raised--form {
    padding-top: 2.5em;
    padding-bottom: .8em;

    @include for-tablet-portrait-up {
        border: 1px solid $main-blue;
        border-radius: 5px;
        padding: 3.5em 1.2em;
    }
    @include for-x-tablet-portrait-up {
        padding-left: 2em;
        padding-right: 2em;
    }
    @include for-big-desktop-up {
        padding-left: 3.5em;
        padding-right: 3.5em;
    }
    @include for-x-big-desktop-up {
        padding-left: 5em;
        padding-right: 5em;
    }
}

form {
    padding-bottom: 3em;

    // @include for-x-tablet-portrait-up {
    //     font-size: 1.2em;
    // }
    // @include for-desktop-up {
    //     font-size: 1.0em;
    // }
    @include for-m-desktop-up {
        font-size: 1.2em;
    }
    @include for-big-desktop-up {
        font-size: 1.4em;
    }
}