button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.button--large {
  font-size: 2em;
}

.button--medium {
  font-size: 1.5em;
}

.button--small {
  font-size: 1em;
}

.button-mini {
  font-size: 0.8em;
}


.btn--border {
  border: 1px solid $grey;
}

.combined-btns {
  margin: 0;
}

.btn--border:hover {
  border: 1px solid $main-blue;
  transition: border 0.2s;
}

.combined-btns--left {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.combined-btns--right {
  border-left: none;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.btn--active {
  background-color: $main-blue;
  border-color: $main-blue;
  transition: border-color 0.2s; 
  transition: background-color 0.2s;
}